footer-height = 30px

#footer-section
  background-color #4D4D4D
  color #EEEDEC
  text-align center
  font-family "nerislight", Helvetica, Arial, sans-serif
  padding 5px 0
  min-height footer-height

