//
smallPhones = "(max-width: 460px)"
xs = "(max-width: 767px)"
sm = "(min-width: 768px)"
md = "(min-width: 992px)"
lg = "(min-width: 1200px)"


// COLORS
colGreen = #6EB300
colWhite = #FFFFFF
colLight = #EEEDEC
colDark = #1F1F1F
colGrey = #4D4D4D
