#footer-section
  .container
    .row
      .col-xs-12.col-sm-3.footer-column
        .footer-header Conference
        ul.footer-list
          li: a.anchor(href="#about-section") About
          li Code of Conduct
          li Contact
      .col-xs-12.col-sm-3.footer-column
        .footer-header Previous editions
        ul.footer-list
          li: a.anchor(href="http://2015.droidcon.pl" target="_blank") 2015
          li: a.anchor(href="http://2014.droidcon.pl" target="_blank") 2014
      .col-xs-12.col-sm-6.col-md-5.footer-column.social-icons
        .row
          .col-xs-12
            a(href="https://www.facebook.com/droidconpl" target="_blank")
              img.social-img(src="img/facebook.png" alt="droidcon global logo")
            a(href="https://twitter.com/droidconkr" target="_blank")
              img.social-img(src="img/twitter.png" alt="droidcon global logo")
            a(href="https://github.com/droidconpl" target="_blank")
              img.social-img(src="img/github-icon.png" alt="droidcon global logo")
            a(href="https://plus.google.com/u/3/+droidconKrak%C3%B3wPL" target="_blank")
              img.social-img(src="img/google.png" alt="droidcon global logo")
            // todo youtube
        //    todo picture media
        .row
          .col-xs-12
            #underline
        .row#global-reference
          .col-xs-6.col-sm-5
            img(src="img/DroidCon_Logo.png" alt="droidcon global logo")
          .col-xs-6.col-sm-7
            p.float-left
              | droidcon is a registered trademark by
              br
              | Mobile Seasons GmbH
  .container
    .row
      .col-xs-12
        #copyright-span &copy; droidcon Kraków 2016
