//#main-menu
//  .container
//    .row
//      .col-xs-12
//        span my test string is here


//main banner
#background-image
  img(src="/img/logo.png" alt="droidcon Kraków main logo")
  #conference-timer
    .clock-builder-output
      .countdown-fld
        span Days
        #days
      .countdown-fld
        span Hours
        #hours
      .countdown-fld
        span Minutes
        #minutes
      .countdown-fld
        span Seconds
        #seconds
#background-cover.to_change


//about section
#about-section.section
  .container
    .row
      .col-xs-12
        .section-title
          h2.main-title About
    .row
      .col-xs-12
        p.section-paragraph
          | droidcon Kraków is a part of global conference
          | series and a network focusing on the best of Android.
          br
          | Be a part of it!
          br
          | Join 3rd edition of droidcon Kraków!
    .row
      .col-xs-12.col-md-6
        .when-where
          img(src="/img/calendar.png" alt="Calendar icon image")
          p
            | 8-9th December 2016 - Conference
            br
            | 10th December 2016 - Hackathon
      .col-xs-12.col-md-6
        .when-where.empty
          img(src="/img/location.png" alt="Venue icon image")
          p
            | ParkInn by Radisson
            br
            | Monte Cassino 2 St., Kraków

//recap section
#prev-year-recap-section.section
  .container
    .row
      .col-xs-12
        .section-title
          h2.main-title See what happened last year
    .row
      .col-xs-12
        iframe#youtube-iframe(
          width="320" height="215"
          src="http://www.youtube.com/embed/Dg-dbrP9PaM?"
        )
    br
    .row
      .col-xs-12
        .section-paragraph
          a.link(href="https://www.youtube.com/watch?v=Dg-dbrP9PaM&list=PLvpKlOXx1MBMfL4llJOi0VX6LcQVP0Su0" target="_blank") See more

//C4P section
#call-4-paper-section.section
  .container
    .row
      .col-xs-12
        .section-title
          h2.main-title Call For Papers is open!
    .row
      .col-xs-12
        p.section-paragraph
          | The day has finally come!
          br
          | The Call For Papers for droidcon 2016 is open
          | and you can submit your ideas of talks for this year's agenda.
          br
          | Expect first evaluations in the end of September 2016.
        p.section-paragraph
          | Hope to see you on droidcon KR 2016!
        p.section-paragraph.button-paragraph
          a.green-button(href="https://goo.gl/forms/jRwLWmej0aflhVII2" target="_blank") Submit your talk


//#be-part-of-it.section
//  .container
//    .row
//      .col-xs-12
//        .section-title
//          h2.main-title Be a part of it too
//    .row
//      .col-xs-12
//        img(src="/img/learn_button.png" alt="Learn image")
//        h4.section-subtitle Learn
//        p.section-paragraph
//          | Attend the conference,
//          | listen to different lectures
//          | and take part in upcoming
//          | Hackathon.
//      .col-xs-12
//        img(src="/img/teach_button.png" alt="Teach image")
//        h4.section-subtitle Teach
//        p.section-paragraph
//          | Become a speaker at
//          | droidcon Kraków and give a lecture
//          | on the newest subjects
//          | involving Android.
//      .col-xs-12
//        img(src="/img/support_button.png" alt="Support image")
//        h4.section-subtitle Support
//        p.section-paragraph
//          | Help the conference by
//          | donating, volunteering or in
//          | other way to become an
//          | even bigger event.

#sponsor-us-section.section
  .container
    .row
      .col-xs-12
        .section-title
          h2.main-title Sponsor us
        p.section-paragraph
          | If you or your company are looking for a place
          | where can find great experts in Android
          | or want to share some of your products
          | this is the place for you!
        p.section-paragraph
          | Contact us for more details on Sponsors' packages.
          br
          br
          a.green-button(href="mailto:contact+sponsor@droidcon.pl") contact+sponsor@droidcon.pl
#contact-section.section
  .container
    .row
      .col-xs-12
        .section-title
          h2.main-title Contact us
        p.section-paragraph
          | If you have any question regarding droidcon
          | Kraków conference please email us.
          br
          a.link(href="mailto:contact@droidcon.pl") contact@droidcon.pl
