#background-image
  img(src="/img/main-background.jpg")
  
#main-content
  .container
    .row
      .col-xs-12
        h1.title droidcon Kraków 2016
        h4 coming soon
    .row.contact-us
      .col-xs-12
        a(href="mailto:contact@droidcon.pl") Contact us
      
